$green: #3BC8AA;
$orange: #FF551A;
$black: #1E1E1E;

$titleFont: "PT Serif";
$bodyFont: "Work SanS";

body {
    font-family: $bodyFont;
    color: $black;
}

h1 {
    font-family: $titleFont;
}

h2 {
    font-family: $titleFont;
    color: $green;
}